body{
    
    #main-section{

.menu{  background-color: black; width: 1350px; height:50px;  
     
  #apple{

margin-left: 80px; float: left;

   }
  
li{ 

float: left; font: bold 10px ; color: white; list-style:none; display: block; width: 90px; height: 10px;
padding: 20px 20px ;

}

#search{

 float: left; padding-top: 20px; padding-left:20px; padding-right: 20px; 

}

#face{

padding-top: 5px; padding-left:30px; padding-right: 20px; float: left;

}
 #insta{ 

padding-top: 5px;padding-left:20px; padding-right: 30px;
float: left;

 }

li{

font: bold 10px; color: white; list-style: none;display: block; width: 90px; height: 10px;  
float: left;
}

li:hover{

color: darkred;


}

}
    
    .middiv1{

background-color: lightsalmon;; width: 1100px; height: 800px; margin: 0 auto;




#ip{

background-position: top; float: left;


}
  



    }

    .althisse{

      width: 1100px; height: 200px; background-color: honeydew; margin: 0 auto;
      
      
      }

li{

display: block; width: 50px; height: 50px;

}

.bottom{

width: 1100px; height: 300px; background-image: url("white.jpg"); margin: 0 auto; background-repeat: no-repeat;


pre{


font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;; text-align: right; font: 25px bold;

}

input{ 

background-color: royalblue; border-radius: 40px; width: 70px; height: 50px; margin-left: 950px;


}

 


}



}


}