body main .container .row header .flex-container {
  padding-top: 10px;
  width: 100%;
  height: 60px;
  background-color: #c4ccc4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body main .container .row header .flex-container .left {
  width: 200px;
  height: 60px;
}

body main .container .row header .flex-container .left ul li {
  list-style: none;
  float: left;
  display: block;
  width: 80px;
  font-size: 15px;
  color: #5c5959;
}

body main .container .row header .flex-container .left ul li:hover {
  cursor: pointer;
  color: grey;
}

body main .container .row header .flex-container .center {
  width: 150px;
  height: 60px;
}

body main .container .row header .flex-container .center P {
  color: black;
  letter-spacing: 5px;
  font: 25px bold;
}

body main .container .row header .flex-container .center P:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body main .container .row header .flex-container .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 10px;
  width: 150px;
  height: 50px;
}

body main .container .row header .flex-container .right img {
  float: left;
  width: 15px;
  height: 15px;
}

body main .container .row header .flex-container .right img:hover {
  opacity: 0.3;
  cursor: pointer;
}

body main .container .row header .top {
  width: 700px;
  height: 50px;
  margin: 0 auto;
}

body main .container .row header .top ul li {
  list-style: none;
  color: grey;
  font: 17px bold;
  display: block;
  width: 110px;
  float: left;
}

body main .container .row header .top ul li:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: black;
}

body main .container .row aside .center {
  width: 1000px;
  height: 650px;
  margin: 0 auto;
}

body main .container .row aside .center .center1 {
  width: 500px;
  float: left;
}

body main .container .row aside .center .center1 img {
  width: 500px;
}

body main .container .row aside .center .center1 img:hover {
  opacity: 0.5;
}

body main .container .row aside .center .center2 {
  width: 500px;
  float: left;
}

body main .container .row aside .center .center2 img {
  width: 500px;
}

body main .container .row aside .center .center2 img:hover {
  opacity: 0.5;
}

body main .container .row aside .alt {
  width: 1000px;
  height: 650px;
  margin: 0 auto;
}

body main .container .row aside .alt .alt1 {
  width: 500px;
  float: left;
}

body main .container .row aside .alt .alt1 img {
  width: 500px;
}

body main .container .row aside .alt .alt1 img:hover {
  opacity: 0.5;
}

body main .container .row aside .alt .alt2 {
  width: 500px;
  float: left;
}

body main .container .row aside .alt .alt2 img {
  width: 500px;
}

body main .container .row aside .alt .alt2 img:hover {
  opacity: 0.5;
}

body main .container .row section {
  height: 600px;
  width: 100%;
}

body main .container .row section pre {
  text-align: center;
  letter-spacing: 8px;
  color: #caa5e9;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body main .container .row section .flexcontainer1 {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .container .row section .flexcontainer1 .div1 {
  width: 250px;
}

body main .container .row section .flexcontainer1 .div1 img {
  width: 250px;
}

body main .container .row section .flexcontainer1 .div1 img:hover {
  opacity: 0.5;
}

body main .container .row section .flexcontainer1 .div1 .star {
  width: 10px;
}

body main .container .row section .flexcontainer1 .div1 .star2 {
  width: 10px;
}

body main .container .row section .flexcontainer1 .div1 .star2:hover {
  cursor: pointer;
}

body main .container .row section .flexcontainer1 .div2 {
  width: 250px;
}

body main .container .row section .flexcontainer1 .div2 img {
  width: 250px;
}

body main .container .row section .flexcontainer1 .div2 img:hover {
  opacity: 0.5;
}

body main .container .row section .flexcontainer1 .div2 .star {
  width: 10px;
}

body main .container .row section .flexcontainer1 .div2 .star2 {
  width: 10px;
}

body main .container .row section .flexcontainer1 .div2 .star2:hover {
  cursor: pointer;
}

body main .container .row section .flexcontainer1 .div3 {
  width: 250px;
}

body main .container .row section .flexcontainer1 .div3 img {
  width: 250px;
}

body main .container .row section .flexcontainer1 .div3 img:hover {
  opacity: 0.5;
}

body main .container .row section .flexcontainer1 .div3 .star {
  width: 10px;
}

body main .container .row section .flexcontainer1 .div4 {
  width: 250px;
}

body main .container .row section .flexcontainer1 .div4 img {
  width: 250px;
}

body main .container .row section .flexcontainer1 .div4 img:hover {
  opacity: 0.5;
}

body main .container .row section .flexcontainer1 .div4 .star {
  width: 10px;
}

body main .container .row section .flexcontainer1 .div4 .star2 {
  width: 10px;
}

body main .container .row section .flexcontainer1 .div4 .star2:hover {
  cursor: pointer;
}

body main .container .row footer {
  width: 100%;
  height: 200px;
  background-color: #c4ccc4;
}

body main .container .row footer .son {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body main .container .row footer .son .sag ul li {
  list-style: none;
  display: block;
  width: 130px;
  float: left;
  font: 13px bold;
  color: grey;
}

body main .container .row footer .son .sag ul li:hover {
  color: black;
  cursor: pointer;
}

body main .container .row footer .son .orta {
  width: 150px;
  height: 60px;
}

body main .container .row footer .son .orta P {
  color: black;
  letter-spacing: 5px;
  font: 25px bold;
}

body main .container .row footer .son .orta P:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body main .container .row footer .son .sol {
  width: 270px;
}

body main .container .row footer .son .sol h6 {
  font: 16px bold;
  color: grey;
  float: left;
}

body main .container .row footer .son .sol img {
  padding-top: 35px;
  padding-left: 10px;
  width: 20px;
  float: left;
}

body main .container .row footer .son .sol img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body main .container .row footer h3 {
  color: #615e5e;
  text-align: center;
  padding-top: 50px;
}

body main .container .row footer h3:hover {
  color: black;
  cursor: pointer;
}
/*# sourceMappingURL=6.css.map */